

<div class="hero-img-container">
    <img src="paella_normal.webp" alt="Paella de verduras">
    <div class="hero-text">
      <h1 class="hero-title">Recetas para cada momento</h1>
      <div class="search-container">
        <input type="text" placeholder="Buscar..." class="search-input">
        <button class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" 
            width="24" height="24" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor" 
            stroke-width="2" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            class="lucide lucide-search-icon lucide-search">
            <circle cx="11" cy="11" r="8"/>
            <path d="m21 21-4.3-4.3"/>
        </svg>
    </button>
      </div>
    </div>
  </div>
    
            
 <!-- Bootstrap JS y dependencias -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>





 <div class="scroll-buttons">
    <a href="#">Paella</a>
    <a href="#">Fideuà</a>
    <a href="#">All i Pebre</a>
    <a href="#">Esgarraet</a>
    <a href="#">Olla de blat</a>
    <a href="#">Coca salada</a>
    <a href="#">Postres</a>
    <a href="#">Horchata</a>
    <a href="#">Vinos</a>
    <a href="#">Tombet</a>
  </div>

  



  <div class="tarjetas">
    <div class="card-entera">
      <div class="img-container">
        <img src="paella_marisco.jpg" alt="Paella de Marisco" />
        <button class="favorito-btn">❤</button>
      </div>
      <h6>Paella Valenciana con Conejo</h6>
      <div class="card-info">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" viewBox="0 0 24 24" 
          fill="none" stroke="#000000" 
          stroke-width="3" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-clock-icon lucide-clock">
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg> 45 min</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-utensils-icon lucide-utensils">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
          <path d="M7 2v20"/>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
        </svg> Comida</span>
      </div>
    </div>



    <div class="card-entera">
      <div class="img-container">
        <img src="paella_marisco.jpg" alt="Paella de Marisco" />
        <button class="favorito-btn">❤</button>
      </div>
      <h6>Paella Valenciana con Conejo</h6>
      <div class="card-info">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" viewBox="0 0 24 24" 
          fill="none" stroke="#000000" 
          stroke-width="3" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-clock-icon lucide-clock">
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg> 45 min</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-utensils-icon lucide-utensils">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
          <path d="M7 2v20"/>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
        </svg> Comida</span>
      </div>
    </div>



    <div class="card-entera">
      <div class="img-container">
        <img src="paella_marisco.jpg" alt="Paella de Marisco" />
        <button class="favorito-btn">❤</button>
      </div>
      <h6>Paella Valenciana con Conejo</h6>
      <div class="card-info">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" viewBox="0 0 24 24" 
          fill="none" stroke="#000000" 
          stroke-width="3" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-clock-icon lucide-clock">
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg> 45 min</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-utensils-icon lucide-utensils">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
          <path d="M7 2v20"/>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
        </svg> Comida</span>
      </div>
    </div>



    <div class="card-entera">
      <div class="img-container">
        <img src="paella_marisco.jpg" alt="Paella de Marisco" />
        <button class="favorito-btn">❤</button>
      </div>
      <h6>Paella Valenciana con Conejo</h6>
      <div class="card-info">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" viewBox="0 0 24 24" 
          fill="none" stroke="#000000" 
          stroke-width="3" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-clock-icon lucide-clock">
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg> 45 min</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-utensils-icon lucide-utensils">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
          <path d="M7 2v20"/>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
        </svg> Comida</span>
      </div>
    </div>



    <div class="card-entera">
      <div class="img-container">
        <img src="paella_marisco.jpg" alt="Paella de Marisco" />
        <button class="favorito-btn">❤</button>
      </div>
      <h6>Paella Valenciana con Conejo</h6>
      <div class="card-info">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" viewBox="0 0 24 24" 
          fill="none" stroke="#000000" 
          stroke-width="3" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-clock-icon lucide-clock">
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg> 45 min</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-utensils-icon lucide-utensils">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
          <path d="M7 2v20"/>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
        </svg> Comida</span>
      </div>
    </div>



    <div class="card-entera">
      <div class="img-container">
        <img src="paella_marisco.jpg" alt="Paella de Marisco" />
        <button class="favorito-btn">❤</button>
      </div>
      <h6>Paella Valenciana con Conejo</h6>
      <div class="card-info">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" viewBox="0 0 24 24" 
          fill="none" stroke="#000000" 
          stroke-width="3" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-clock-icon lucide-clock">
          <circle cx="12" cy="12" r="10"/>
          <polyline points="12 6 12 12 16 14"/>
        </svg> 45 min</span>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" 
          width="24" height="24" 
          viewBox="0 0 24 24" 
          fill="none" 
          stroke="currentColor" 
          stroke-width="2" 
          stroke-linecap="round" 
          stroke-linejoin="round" 
          class="lucide lucide-utensils-icon lucide-utensils">
          <path d="M3 2v7c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2V2"/>
          <path d="M7 2v20"/>
          <path d="M21 15V2a5 5 0 0 0-5 5v6c0 1.1.9 2 2 2h3Zm0 0v7"/>
        </svg> Comida</span>
      </div>
    </div>
  
  </div>


