<div class="contacto-container">
  <h2>Contáctanos</h2>

  <div class="form-card">
    <form class="form">
      <div class="form-field">
        <input required placeholder="Nombre" class="input-field" type="text" />
      </div>

      <div class="form-field">
        <input required placeholder="Email" class="input-field" type="email" />
      </div>

      <div class="form-field">
        <input required placeholder="Asunto" class="input-field" type="text" />
      </div>

      <div class="form-field">
        <textarea
          required
          placeholder="Mensaje"
          cols="30"
          rows="4"
          class="input-field"
        ></textarea>
      </div>

      <button type="submit" class="enviar-btn">Enviar mensaje</button>
    </form>
  </div>
</div>
